

html {background-color: #999999;}

body {background-color: #FFFFFF;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.mainContent {padding: 0px 5px 10px 5px;
}
.navigation {
    background-color: royalblue;
    color: wheat;
}
.navigation a:link {
    color:white;
}
.navigation a:visited {
    color: #ffff00;
}

#home { font-weight: bold; }
.navigation {
    background-color: royalblue;
    color: #FFFFFF;
    padding: 0px 0px 0px 0px; 
    width: 100%;
    display: table;
}

.navigation ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.navigation a:visited { 
    color: #ffffff; 
}
#home { font-weight: bold; }
.navigation {
    background-color: royalblue;
    color: #FFFFFF;  
    padding: 0px 0px 0px 0px;
    width: 100%;
    display: table;
}
.navigation ol {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.navigation a:visited { color: #ffffff; 
}
.navigation li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    float: left;
    width: 25%;
}
.navigation li:hover {
    background-color: royalblue;
}
.navigation a:link {color: #ffffff;
     text-decoration: none;
    }
p {font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    text-align: center;
}
img {align-items: center
}

