html{
    background-color: whitesmoke
}
body{
    background-color: skyblue;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;


}
.link ul{background-color: royalblue;
color:#FFFFFF;
padding: 50px 5px 10px 5px;

;

}
.link li{
display:table-cell;
text-align: center;
vertical-align: middle;
float: middle;
width: 45%;
font-family: Arial, Helvetica, sans-serif
}
h1{font-family: Arial, Helvetica, sans-serif}
p{font-family: Arial, Helvetica, sans-serif}
h5{font-family: Arial, Helvetica, sans-serif}
h4{font-family: Arial, Helvetica, sans-serif}

.img{
    position: relative;
   left:100px;
}
 .imgmouse{
    position: relative;

 }


}
